@import url('../../css/theme.css');
/*
.social-icons 
{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 20px 0;
}

.social-icons a 
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background: var(--bg-primary);
    border-radius: 50%;
    font-size: 1.8rem;
    color: var(--text-secondary);
    text-decoration: none;
    transition: var(--transition-fast);
}

.social-icons a:hover {
    transform: translateY(-10px);
    box-shadow: var(--shadow-sm);
    color: var(--text-secondary);
    background: var(--accent-color);
}*/